
body{
    font-family: 'Montserrat';
}
#title{
    background-color:  #ff4c68;
    color: #fff;
    height: 650px;
}

.container-fluid{

}




/* navigation Bar */

 .navbar{

   margin-bottom: 4%;
   color: red;
 }

.navbar-brand{
font-family:"Ubuntu";
  
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;

}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}



.download-button
{
  margin: 5% 3% 5% 0 ;
}


/*image title*/
.title-image
{
  width: 60% ;
  transform: rotate(25deg);
  position: absolute;
}


.features-box{
  
      text-align: center;


}
#features
{

 padding-left: 15%;
 padding-right: 15%;
 padding-bottom: 100px;
 padding-top: 150px;
 position: relative;
 z-index: 1;
 background-color:#fff; 

}
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;

}

 

   big-heading{
       padding-bottom: 1.2rem;
       font-size: 3rem;
       line-height: 1.5;

   }


p{
  color: #8f8f8f;
}

.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:  #ff4c68;
}

#testimonials
{
  
  text-align: center;
  background-color :#ef8172;
  color:#fff;
}

 .carousel-item
 {

    padding: 7% 15%;
 }
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
}


#press
{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;    
}

.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

/* pricing section*/

#pricing
{
  text-align: center;
  padding:100px;
}

.pricing-coloumn{
  padding: 3% 2%;
}

@media(max-width: 1080px)
{
   #title{
         text-align: center;

   }

   .title-image{
           position: static;
           transform: rotate(0);
   }
}


/*footer section*/

    #cta
    {
      width: 100%;
      height: 400px;
      padding: 8% 20%;
        text-align: center;
        background-color:#ff4c68;
 
          color:white;
    }


    .cta-heading
    { 
      font-family: 'Montserrat', sans-serif;
  
        font-size:40px;
        line-height: 50px;
    }

    #footer{
            width: 100%;
          height: 100px;
      padding: 8% 15%;
        text-align: center;
    }


    .social-section{
      margin: 20px 10px;
    }